<nav class="navbar navbar-expand-lg navbar-light navBar">
  <div class="container">
  <a class="navbar-brand navItemLogo" href="#">
      <!-- <img src="/assets/mjeLogo.png" class="img-fluid" alt="Responsive image"> -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link navItem" href="#">The Firm</a>
      </li>
      <li class="nav-item">
            <a class="nav-link navItem" href="localhost:api/test">Our Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navItem" href="localhost:api/test">Citizenship</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navItem" href="localhost:api/test">Contact Us</a>
      </li>
    </ul>
   
  </div>
</div>
</nav>