.skill {
    font-size: 100px;
   /* margin: 40px;
   margin-bottom:30px; */
}
.portfolio_subTitle {
    font-family: Avenir;
   
}
ul {
    margin-top:30px;
    text-align: center;
}
ul li {
    border-style: solid;
    padding: 20px;
    /* height: 60px; */
    margin-left: 0px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 5px;
}
ul li a {
    color:black;
}
.skills_container {
    width: 150px;
    display: inline-block;
    margin: 10px;
    padding: 25px;
    border-style: solid;
    align-self: center;
}
.skills_row {
    margin-bottom: 20px;
    justify-content: space-between; 
    margin-left:20px;
}
@media only screen and (max-width: 500px) {
    .skills_row {
       margin-left: 0px;
       margin-right:10px;
    }
    .skills_container{
        /* margin-left: 30px; */
    }
    ul li {
        width:280px;
    }
    .skills_container {
        width:140px;
        padding: 18px;
    }
}