<div class="container">
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-6 col-lg-6">
       
            <h2 class="portfolio_subTitle">Bio</h2>
            <p>Hello! Thank you for visiting my site. My name is Al. I am software developer experienced in  producing responsive, high quality web applications in a fast pace startup environment. I am a team player, passionate about coding and learning new technologies. Please take a look at my resume! I would love to speak!  </p>

            <h2 style="margin-top: 40px;" class="portfolio_subTitle"> Social Media/Links </h2>

            <ul style="list-style:none;" >
              <li><a href="https://www.linkedin.com/in/alcreates/">LinkedIn</a></li>
              <li><a href="https://github.com/alcreates">Github</a></li>
              <li><a href="http://">alcreates101@gmail.com</a></li>
              <li><a href="https://www.hackerrank.com/alcreates101"> HackerRank </a> </li>
            </ul>
    
        </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2 style="margin-left: 30px;" class="portfolio_subTitle">Skills</h2>
        <div  class="row skills_row text-center">
            
                <div class="skills_container">
                        <i class="devicon-react-original-wordmark skill"></i>
                </div>
                <div class="skills_container">
                        <i class="devicon-angularjs-plain-wordmark skill"></i>
                </div>
                <div class="skills_container">
                        <i class="devicon-javascript-plain skill"></i>
                </div>
                
                
              <div class="skills_container">
                    <i class="devicon-nodejs-plain skill"></i>
              </div>
              <div class="skills_container">
                    <i class="devicon-mysql-plain-wordmark skill"></i>
              </div>
              <div class="skills_container">
                    <i class="devicon-jquery-plain-wordmark skill"></i>
              </div>
             
                <div class="skills_container">
                        <i class="devicon-git-plain-wordmark skill"></i>
                </div>
                <div class="skills_container">
                        <i class="devicon-html5-plain skill"></i>
                </div>
                <div class="skills_container">
                        <i class="devicon-bootstrap-plain-wordmark skill"></i>
                </div>
                <div class="skills_container">
                        <i class="devicon-css3-plain-wordmark skill"></i>
                </div>
               
           
    </div>
     </div>
    </div>
    </div>