<div class="row no-gutters">
  <div class="col-12">
      <div class="parallax" >
          
              <div *ngIf="words.length > 0;">
                <span class="typeWriter"  >{{ words }}</span>
              </div>
             
              <!-- <h1 class="home_header_title">Unrivaled Industry Insight.</h1> -->
              <!-- <h1 class="home_header_title">Search made easy.</h1> -->
              <!-- <h2 class="home_header_subtitle">Investment Industry Executive Search</h2> -->
              <!-- <h2 class="home_header_subtitle">Unrivaled Industry Insight. Sophisticated Matching Technology. And a Personalized Approach.</h2> -->
         
      </div>
      <div id="alImage"></div>
  </div>
</div>

<app-aboutme></app-aboutme>
<app-mywork></app-mywork>
<app-contact></app-contact>
