<div class="row">
  <div class="col-12">
      <div class="parallax" >
          <div class="home_header">
              <!-- <h1 class="home_header_title">Unrivaled Industry Insight.</h1> -->
              <!-- <h1 class="home_header_title">Search made easy.</h1> -->
              <!-- <h2 class="home_header_subtitle">Investment Industry Executive Search</h2> -->
              <!-- <h2 class="home_header_subtitle">Unrivaled Industry Insight. Sophisticated Matching Technology. And a Personalized Approach.</h2> -->
          </div>
      </div>
      <div id="alImage"></div>
  </div>
</div>