<div class="row no-gutters">
  <div class="col-12">
      <div class="parallax" >
          
              <div *ngIf="words.length > 0;">
                <span class="typeWriter"  >{{ words }}</span>
              </div>
             
              <!-- <h1 class="home_header_title">Unrivaled Industry Insight.</h1> -->
              <!-- <h1 class="home_header_title">Search made easy.</h1> -->
              <!-- <h2 class="home_header_subtitle">Investment Industry Executive Search</h2> -->
              <!-- <h2 class="home_header_subtitle">Unrivaled Industry Insight. Sophisticated Matching Technology. And a Personalized Approach.</h2> -->
         
      </div>
      <div id="alImage"></div>
  </div>
</div>
<div class="container">
<div class="row no-gutters">
  <div class="col-6">
   
        <p>Bio</p>
        <p>Hello! Thank you for visiting my site. My name is Al. I am software developer experienced in  producing responsive, high quality web applications in a fast pace startup environment. I am a team player, passionate about coding and learning new technologies. Please take a look at my resume! I would love to speak!  </p>

  </div>
  <div class="col-6">
    skills
  </div>
</div>
</div>