.parallax { 
    display: flex;
    justify-content: center;
    align-items: center;
    /* The image used */
    background-image: url("/assets/portImageOne.jpg");

    /* Set a specific height */
    height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#alImage {
    background-image: url("/assets/al.jpg");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 100%;
    border: solid 3px gray;
    border-radius: 15px;
    margin-bottom: 0px;
    position: relative;
    bottom: 115px;
    margin-left: 110px;

}

.typeWriter {
    font-family: 'Raleway', sans-serif;
    color: rgb(253, 247, 247);
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
    max-width: 50%;
}

@media only screen and (max-width: 500px) {

    .parallax { 
        display: flex;
        justify-content: center;
        align-items: center;
        /* The image used */
        background-image: url("/assets/portImageOne.jpg");
        background-attachment:scroll;
        /* Set a specific height */
        height: 550px; 
        -webkit-background-size: auto;
        -moz-background-size: auto;
        background-size: auto;
    
        /* Create the parallax scrolling effect */
        /* background-attachment: fixed; */
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
}